h3{
    font-size: 30px;
}
h1 {
    font-size: 28px;
}

.flexbox{
  display: flex;
  margin: 10px 0 10px 0;
  background-color: #687864;
  border-radius: 5px;
  border: solid 2px;
}

@media only screen and (max-width: 768px) {
    .flexbox {
        display: block;
    }
}